@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@300;400&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Source Serif Pro', serif;
    font-size: 40px;
    width: 100%;
    min-height: 100vh;
    background-color: #121212;
}
h1 {
    color: white;
    font-size: 30px;
}
.container {
    display: grid;
    gap: 50px;
    height: 100vh;

    grid-template-columns: 400px 800px;
    grid-template-rows: 750px;
    
    justify-content: center;
    align-content: center;
}
[class^="box-"] {
    display: grid;
    place-items: center;
    border: 10px solid;
    border-color: gold;
    border-radius: 25px;
}
.ico {
    width: 120px;
    height: 120px;
    margin-top: -75px;
    border: 10px solid;
    border-color: gold;
    border-radius: 50%;
    padding: 12px;
    background-color: #121212;
}
.radio, .text {
    color: white;
    font-size: 20px;
    margin-top: 10px;
}
input, select {    
    font-size: 18px;
    border: 2px solid gold;
    background: #242323;
    color: white;
    padding: 6px;
    border-radius: 10px;
    margin-bottom: 4px;
}
input::-webkit-input-placeholder {
    color: white;
  }
input::-moz-placeholder {
    color: white;
}
.tel {
    width: 260px;
}
.button {
    margin-top: 10px;
    text-align: center;
}
.button input {
    padding: 10px;
    border-radius: 20px;
    cursor: pointer;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
    text-decoration: none;
}
.button input:hover {
    opacity: 0.7;
}
.box-info {
    color: white;
    border: 10px dashed gold;
    padding: 30px;
    text-align: center;
}
.back {
    max-width: 55px;
    max-height: 55px;
    position: absolute;
    cursor: pointer;
    margin: 45px 0px 0px 45px;
    transition-property: opacity;
    transition-duration: 0.15s;
    transition-timing-function: linear;
}
.back:hover {
    opacity: 0.7;
}
@media (max-width: 1600px) {
    .container {
        font-size: 30px;
        grid-template-columns: 400px 600px;
        grid-template-rows: 800px;
    }
}